/*@font-face {
    font-family: 'chunkfiveroman';
    src: url('../fonts/chunkfive-webfont.eot');
    src: url('../fonts/chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chunkfive-webfont.woff') format('woff'),
         url('../fonts/chunkfive-webfont.ttf') format('truetype'),
         url('../fonts/chunkfive-webfont.svg#chunkfiveroman') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
    font-family: 'SavoyeLetPlain';
    src: url('../fonts/SavoyeLetPlain.ttf');
}

@font-face {
    font-family: 'Zapfino';
    src: url('../fonts/Zapfino.ttf');
}
