html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #333333;
}

#loading {
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  background-color: #aaa;
  transition: all 0.2s;
  z-index: 10000;
}
